<!DOCTYPE html>
<html>
  <head>
    <title>Express EJS boilerplate</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- custom CSS, file or inline -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

  </head>
  <body>
